@import '../../style/vars.less';

.banner-left {
  position: absolute;
  left: 0;
  width: calc((100vw - 1200px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .ant-carousel .slick-slide {
    height: auto;
  }
}

.banner-right {
  position: absolute;
  right: 0;
  width: calc((100vw - 1200px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .ant-carousel .slick-slide {
    height: auto;
  }
}

.banner {
  margin: 3px 0;
}

.show-all {
  padding: 0 5px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 10px 25px;
    font-size: 16px;
    color: @primary-color;
    border: 2px solid;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-family: @primary-font-bold;

    &:hover {
      background-color: @secondary-color;
      color: @white;
    }
  }
}