@import '../../../style/vars.less';

.cart-form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  background-color: @table-bg;

  :global .ant-form-item {
    margin-bottom: 0;

    .ant-form-item-label {
      padding: 0;

      label {
        font-size: 10px;
      }
    }

    .ant-form-item-control {
      padding: 0;
    }
  }
}