@import '../../style/vars';

.login-page {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.login-box,
.register-box {
  max-width: 420px;
  width: 100%;
  margin: 30px auto;
  color: @white;
  background-color: rgba(0, 0, 0, .7);

  &.custom {
    background-color: transparent;
  }

  :global .login-form {
    color: @white;
    padding: 5px 25px 25px;

    .title {
      display: flex;
      justify-content: center;
      font-size: 22px;
      font-weight: bolder;
      margin-bottom: 15px;
      font-family: @primary-font-bold;
      color: @primary-color;
      text-transform: uppercase;

      @media (max-width: @mobile-screen) {
        font-size: 18px;
      }
    }

    .skip-btns {
      display: flex;
      justify-content: center;
      align-items: center;

      .ant-btn-link-disabled,
      .ant-btn-link.disabled,
      .ant-btn-link[disabled],
      .ant-btn-link-disabled:hover,
      .ant-btn-link.disabled:hover,
      .ant-btn-link[disabled]:hover,
      .ant-btn-link-disabled:focus,
      .ant-btn-link.disabled:focus,
      .ant-btn-link[disabled]:focus,
      .ant-btn-link-disabled:active,
      .ant-btn-link.disabled:active,
      .ant-btn-link[disabled]:active,
      .ant-btn-link-disabled.active,
      .ant-btn-link.disabled.active,
      .ant-btn-link[disabled].active {
        color: rgba(255, 255, 255, .3);
      }
    }

    .ant-input {
      border-radius: 0;
      height: 45px;
    }

    .ant-input-password {
      border-radius: 0;

      .ant-input {
        height: 32px;
      }
    }

    button.login-form-button {
      border-radius: 0;
      min-height: 45px;
      height: auto;
      white-space: pre-line;
      width: 100%;
      font-size: 16px;
      color: @white;
      background-color: @primary-color;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
  }
}

.register-box {
  max-width: 100%;

  :global .register-steps {
    span.step-box {
      padding: 5px 11px;
      margin-left: 30px;
      background-color: @theme-color;
      color: @white;
      border-radius: 50%;
      opacity: 0.3;
      position: relative;
      cursor: pointer;

      &::before {
        content: ' ';
        position: absolute;
        top: 14px;
        right: 30px;
        width: 30px;
        background: @theme-color;
        height: 2px;
      }

      &:first-child {
        margin-left: 5px;

        &::before {
          display: none;
        }
      }

      &.active {
        opacity: 1;
        background-color: @primary-color;
      }
    }
  }
}

.login-logo {
  text-align: center;
  padding: 5px 0;

  img {
    max-width: 100%;
    max-height: 80px;
  }
}