@import '../../style/vars.less';

.product-card {
  display: flex;
  margin: 10px 0;

  :global .prod-img {
    width: 40%;
    position: relative;

    .ant-carousel .slick-list .slick-slide {
      height: 420px;
      line-height: 420px;

      @media screen and (max-width: @mobile-screen) {
        height: 320px;
        line-height: 320px;
      }
    }

    .ant-image {
      width: 100%;

      img {
        width: 100%;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
      }
    }

    .prod-stock {
      position: absolute;
      right: auto;
      left: 0px;
      top: 10px;
      color: @white;
      line-height: 2em;
      background-color: @primary-color;
      width: auto;
      padding: 0.2em 2em;
      clip-path: polygon(0px 0px, 0px 100%, 100% 100%, 90% 50%, 100% 0);
      font-size: 12px;
      font-weight: 600;
      margin: 5px 0;
    }

    .prod-digital {
      position: absolute;
      right: auto;
      left: 0px;
      top: 40px;
      color: @white;
      line-height: 2em;
      background-color: @secondary-color;
      width: auto;
      padding: 0.2em 2em;
      clip-path: polygon(0px 0px, 0px 100%, 100% 100%, 90% 50%, 100% 0);
      font-size: 12px;
      font-weight: 600;
      margin: 5px 0;
      text-transform: capitalize;
    }
  }

  .prod-info {
    width: 100%;
    padding: 0 20px;

    :global .prod-name {
      color: @primary-color;
      font-size: 30px;
      font-weight: 600;
      font-family: @primary-font-bold;
      text-transform: capitalize;
    }
  }

  @media screen and (max-width: @mobile-screen) {
    flex-direction: column;

    :global .prod-img {
      width: 100%;
      padding: 0 15px;
    }

    .prod-info {
      width: 100%;
      padding: 0 12px;

      :global .prod-name {
        font-size: 18px;
      }
    }
  }
}

.prod-price {
  font-size: 28px;
  color: @secondary-color;
  font-weight: 600;
}