@import '../../style/vars.less';

.discount-price {
  color: @highlight-color;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.text-link {
  color: @primary-color;
  cursor: pointer;
  font-weight: bold;
}