@font-face {
  font-family: 'Merriweather Sans';
  src: url('/fonts/MerriweatherSans.ttf');
}
@font-face {
  font-family: 'Merriweather Sans Bold';
  src: url('/fonts/MerriweatherSans-Bold.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf);
}
@theme-color: #0272a9;
@primary-color: #00a1f1;
@secondary-color: #e8c400;
@message-color: #fff6d9;
@orange-color: #ffa600;
@light-color: #efe8fe;
@info-color: #1b94dd;
@success-color: #00c12c;
@processing-color: #1c6c9c;
@error-color: #f04134;
@highlight-color: #f04134;
@warning-color: #ffbf00;
@normal-color: #d9d9d9;
@white: #fff;
@black: #000;
@grey-color: #4e4e4e;
@gray: #d6d6d6;
@light-grey: #eee;
@light-blue: #f3f7f8;
@table-bg: #f8f9fa;
@text-color: #333;
@dark-grey: #666;
@border-select: #ced4da;

@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@hover-color: @primary-color;
@header-bg-color: #242425;
@main-background-color: @white;
@sub-background-color: #fafafa;

@primary-font-bold: 'Merriweather Sans';

@tablet-screen: 768px;

@mobile-screen: 450px;