@import '../../style/vars.less';

.contact-content {
  padding: 20px 5px;
  white-space: pre-line;
}

.contact-form {
  padding: 20px 5px;
  max-width: 500px;
  margin: auto;

  :global .ant-form-item {
    .ant-input {
      height: 40px;
      font-size: 12px;
    }
  }

  :global .form-message {
    .ant-form-item-explain {
      text-align: center;
      font-size: 10px;
    }
  }
}