@import '../../style/vars.less';

.top-profile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  position: relative;
  margin-top: 5px;

  :global .bg-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .5) 100%);
  }

  :global .top-left {
    position: absolute;
    left: 5%;
    bottom: -15px;
    display: inline-flex;
    align-items: center;

    .ant-image {
      .ant-image-img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        padding: 2px;
        border: 2px solid @primary-color;
      }

      .ant-image-mask {
        border-radius: 50%;
      }
    }

    .m-name {
      padding: 0 10px;

      h2 {
        text-transform: capitalize;
        color: @primary-color;
        font-family: @primary-font-bold;
        margin: 0;
      }

      h5 {
        color: @secondary-color;
      }
    }
  }
}

@media screen and (max-width: @mobile-screen) {
  height: 18vh;

  .top-profile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    position: relative;
    margin-top: 5px;

    :global .bg-top {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, .5) 100%);
    }

    :global .top-left {
      position: absolute;
      left: 5%;
      bottom: -15px;
      display: inline-flex;
      align-items: center;

      .ant-image {
        .ant-image-img {
          width: 120px;
          height: 120px;
          object-fit: cover;
          border-radius: 50%;
          padding: 2px;
          border: 2px solid @primary-color;
        }

        .ant-image-mask {
          border-radius: 50%;
        }
      }

      .m-name {
        padding: 0 10px;

        h2 {
          text-transform: capitalize;
          color: @primary-color;
          font-family: @primary-font-bold;
          margin: 0;
        }

        h5 {
          color: @secondary-color;
        }
      }
    }
  }
}

.pro-desc {
  background-color: @sub-background-color;
  padding: 20px 10px 10px;

  :global .per-infor {
    .ant-collapse {
      background-color: transparent;

      .ant-collapse-item {
        border: none;

        .ant-collapse-header {
          padding: 12px 0;
          color: @secondary-color;
          font-family: @primary-font-bold;
          display: flex;
          align-items: center;
        }

        .ant-collapse-content {
          .ant-collapse-content-box {
            white-space: pre-line;
            word-break: break-all;
            padding: 0 0 12px;

            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .bio {
      white-space: pre-line;
      margin-bottom: 15px;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    // .ant-descriptions-item-label {
    //   color: @white;
    // }
    .ant-descriptions-item-content {
      color: @primary-color;
      text-transform: capitalize;
      flex-wrap: wrap;

      .ant-tag {
        margin-bottom: 5px;
        color: @primary-color;
        border-color: @primary-color;
        background-color: transparent;
      }
    }
  }
}

.model-content {
  margin: 5px 0;
  background-color: @sub-background-color;
  color: @white;
  padding: 10px;
}