@import '../../../style/vars.less';

.bannerCarousel {
  :global .ant-carousel {
    .slick-slide {
      text-align: center;
      overflow: hidden;
      height: 300px;
      line-height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media screen and (max-width: @tablet-screen) {
        height: 94px;
        line-height: 94px;
      }
    }

    .slick-dots.slick-dots-bottom {
      li.slick-active {
        button {
          background-color: @primary-color;
        }
      }
    }
  }
}